___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [1]:
my_string = 'word'

In [2]:
my_list = []

for letter in my_string:
    my_list.append(letter)

In [3]:
my_list

['w', 'o', 'r', 'd']

let's use comprehensions to put the for loop in a single line

In [5]:
my_list = [letter for letter in my_string]

In [6]:
my_list

['w', 'o', 'r', 'd']

In [4]:
# Grab every letter in string
lst = [x for x in 'word']

In [2]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [7]:
my_list = [x for x in range(0,11)]

In [8]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
my_list = range(0,11)

In [14]:
lst_1 = []

for num in my_list:
    lst_1.append(num**2)

In [15]:
lst_1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Square numbers in range and turn into list
lst = [num**2 for num in range(0,11)]

In [17]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3
Let's see how to add in <code>if</code> statements:

In [18]:
# Check for even numbers in a range
lst = [x for x in range(0,11) if x % 2 == 0]

In [19]:
lst

[0, 2, 4, 6, 8, 10]

In [20]:
lst = [x**2 for x in range(0,11) if x % 2 == 0]

In [21]:
lst

[0, 4, 16, 36, 64, 100]

## Example 4
Can also do more complicated arithmetic:

In [22]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [23]:
fahrenheit = []

for temp in celsius:
    fahrenheit.append(((9/5)*temp + 32) )

In [24]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

what is a nested loop??

In [33]:
my_list = []

for x in [2,4,6]:
    # multiple 2, 4 and 6 for each of the numbers below
    for y in [1, 10, 1000]:
        my_list.append(x*y)


my_list

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

comprehension transformation!!!

In [34]:
my_list_1 = [x*y for x in [2,4,6] for y in [1,10,1000]]

my_list_1

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [25]:
lst = [ x**2 for x in [x**2 for x in range(0,11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

translating

In [45]:
lst_1 = []

for x in [x**2 for x in range(0,11)]:
    lst_1.append(x**2)

In [46]:
lst_1

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

Later on in the course we will learn about generator comprehensions. After this lecture you should feel comfortable reading and writing basic list comprehensions.

## If and Else

not to good to read

In [26]:
results = [x if x%2 ==0 else 'ODD' for x in range(0,11)]

In [27]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]