___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a > b:
            return b
        else:
            return a
    if a % 2 == 0 or a % 2 != 0 and b % 2 == 0 or b % 2 != 0:
        if a > b:
            return a
        else:
            return b

a simplest function

In [8]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [9]:
# Check
lesser_of_two_evens(2,4)

2

In [11]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [17]:
def animal_crackers(text):
    if text.split()[0][0] == text.split()[1][0]:
        return True
    else:
        return False

or

In [ ]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [18]:
# Check
animal_crackers('Levelheaded Llama')

True

In [19]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [20]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [23]:
# or
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [24]:
# Check
makes_twenty(20,10)

True

In [22]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [34]:
test = test.split()[0]

test[3:].capitalize()

'Elheaded'

In [1]:
def old_macdonald(name):

    first_letter = name[0]
    in_btw = name[1:3]
    forth_letter = name[3]
    rest = name[4:]

    return first_letter.upper() + in_btw + forth_letter.upper() + rest

In [2]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [3]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        print("there is no 4th letter")

In [37]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [38]:
old_macdonald("cat")

there is no 4th letter

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [98]:
# Joining with empty separator
list1 = ['g', 'e', 'e', 'k', 's']
print("".join(list1))
print(" ".join(list1))
print("-".join(list1[::-1]))

geeks
g e e k s
s-k-e-e-g

In [49]:
def master_yoda(text):
    new_text = text.split()
    return " ".join(new_text[::-1])

In [50]:
# Check
master_yoda('I am home')

'home am I'

In [52]:
# Check
master_yoda('We are ready now')

'now ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 (=<) of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [60]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [61]:
# Check
almost_there(104)

True

In [62]:
# Check
almost_there(150)

False

In [63]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [5]:
# slicing a list
my_list = [1,2, 3,4]
print(my_list[0:2])
print(my_list[0:3])
print(my_list[0:0+2])
print(my_list[0])
print(my_list[0+1])
print(my_list[0:0+2] == [3,3])

[1, 2]
[1, 2, 3]
[1, 2]
1
2
False

In [85]:
def has_33(nums):
    for i in range(0, len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        # if nums[i:i+2] == [3,3]:
    # out in the rigth identation
    return False

In [86]:
# Check
has_33([1, 3, 3])

True

In [80]:
# Check
has_33([1, 3, 1, 3])

False

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [122]:
my_str = "Hello"
print(my_str*2)

my_str1 = ''
for i in my_str:
    my_str1 += i*3

print(my_str1)

HelloHello
HHHeeellllllooo

In [109]:
def paper_doll(text):
    return ''.join([char*3 for char in text])

In [125]:
# or 
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [126]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [127]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [150]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21 and 11 in (a,b,c):
        return sum((a,b,c)) -10
    else:
        print('BUST')

In [151]:
# Check
blackjack(5,6,7)

18

In [152]:
# Check
blackjack(9,9,9)

BUST

In [153]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [175]:
test = [1,3,5,6,10]
sum(test)

total = 0
for i in test:
    if i != 6:
        total += i
    else:
        total

print(total)

19

In [167]:
def summer_69(arr):
    total = 0 
    add = True
    # for each number in the array do
    for i in arr:
        # while is true do
        while add:
            # if there is no 6 keep summing
            if i != 6:
                total += i # the same as total = total+i
                break
            # if there is a 6 stop and go to the next step
            else:
                add = False
        # after the 6 and while is not true do it
        while not add:
            # if there is no 9 stop the summing (return zero)
            if i != 9:
                break
            # if a 9 is found continue summing and when it is finished go to the next iteration
            else:
                add = True
                break
    # return the total sum
    return total

In [168]:
# Check
summer_69([1, 3, 5])

9

In [169]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [170]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [204]:
test = [1,2,4,0,0,7,5]
to_find = [0,0,7, 'x']

test.pop(0)
print(test)
to_find
print(to_find)

len(to_find) == 1

[2, 4, 0, 0, 7, 5]
[0, 0, 7, 'x']

False

In [202]:
def spy_game(nums):
    to_find = [0,0,7, 'x']

    for i in nums:
        if i == to_find[0]:
            to_find.pop(0)

    return len(to_find) == 1

In [203]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

A prime number is defined as a natural number greater than 1 and is divisible by only 1 and itself.

In [233]:
range(100)

# include 4 in the range
for i in range(4+1):
    print("this is i: ",i)
    for j in range(2,i):
        print("ths is the j: " ,j)
        if i % j == 0:
            print(i," ", j, " :it is divisible")
        else:
            print(i, " ", j, "it is not divisible")

this is i:  0
this is i:  1
this is i:  2
this is i:  3
ths is the j:  2
3   2 it is not divisible
this is i:  4
ths is the j:  2
4   2  :it is divisible
ths is the j:  3
4   3 it is not divisible

In [228]:
def count_primes(num):
    primes_list = []
    flag = 0 # it is prime
    for i in range(num+1):
        for j in range(2,i):
            # check if the number is divisible by others
            if i % j == 0:
                flag = 1 # if so, then the number is not prime
                break
            else:
                flag=0
        if(flag==0):
            primes_list.append(i)
    print(primes_list)
    return len(primes_list)

In [229]:
# Check
count_primes(100)

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

27

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [272]:
patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}

pattern = [patterns[pattern] for pattern in alphabet["A"]]
pattern

['  *  ', ' * * ', '*****', '*   *', '*   *']

In [6]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [7]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!